{% extends 'base.html' %}
{% block content %}
{% if name %}
    <h1><p style = "color: white">Welcome {{ name }}</h1>
{% else %}
    <h1><p style = "color: white">Create an acccount:</h1>
    <br/>
<Div class = "shadow p-3 mb-5 bg-body rounded">
    <form method = "POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class = "form-label") }}
        {{ form.name(class = "form-control") }}
        <br/>

        {{ form.email.label(class = "form-label") }}
        {{ form.email(class = "form-control") }}
        <br/>
        {{ form.username.label(class = "form-label") }}
        {{ form.username(class = "form-control") }}
        <br/>
        {{ form.likes.label(class = "form-label") }}
        {{ form.likes(class = "form-control") }}
        <br/>
        {{ form.likes2.label(class = "form-label") }}
        {{ form.likes2(class = "form-control") }}
         </br>
         {{ form.likes3.label(class = "form-label") }}
         {{ form.likes3(class = "form-control") }}
          </br>
        {{ form.password_hash.label(class = "form-label") }}
        {{ form.password_hash(class = "form-control") }}
        <br/>
        {{ form.password_hash2.label(class = "form-label") }}
        {{ form.password_hash2(class = "form-control") }}
        <br/>
        {{ form.business.label(class = "form-label") }}
        {{ form.business(class = "form-control") }}
        <br/>
        {{ form.submit(class = 'btn btn-primary')}}
        

    </form>
</div>
<br/><br/>
{% for our_user in our_users %}
    {{ our_user.id }}. {{ our_user.username }}
     <br/>
{% endfor %}
{% endif %}

{% endblock %}