{% extends 'base.html' %}
{% block content %}

<h1> <p style="color:rgb(255, 255, 255)">Login</h1>
<Div class = "shadow p-3 mb-5 bg-body rounded">
    <form method = "POST">
        {{ form.hidden_tag() }}

        {{ form.username.label(class = "form-label") }}
        {{ form.username(class = "form-control") }}
        <br/>
        {{ form.password.label(class = "form-label") }}
        {{ form.password(class = "form-control") }}
        <br/>

        {{ form.submit(class = 'btn btn-primary')}}

    </form>
</div>


{% endblock %}